/1. Hello world (for testing purpose)/JavaApplication1-Helloworld/nbproject/private/
/1. Hello world (for testing purpose)/JavaApplication1-Helloworld/build/
/2. Basic Java/Basic Java/nbproject/private/
/2. Basic Java/Basic Java/build/