/1. Hello world (for testing purpose)/JavaApplication1-Helloworld/nbproject/private/
/1. Hello world (for testing purpose)/JavaApplication1-Helloworld/build/
/2. Basic Java/Basic Java/nbproject/private/
/2. Basic Java/Basic Java/build/
/3. ExecutionSteps/ExecutionSteps/nbproject/private/
/3. ExecutionSteps/ExecutionSteps/build/
/4. Data Type/Data Type/nbproject/private/
/4. Data Type/Data Type/build/
/5. beginner Java/Beginner Java/nbproject/private/
/5. beginner Java/Beginner Java/build/